<h1 class= page-header>Search for Data via Location</h1>


<%= form_for :location , :url => {:controller => 'weather', :action => 'redirect_data'}, method: :get do |l| %>
  <p>
    <%= l.label 'Location ID:' %><br />
    <%= l.text_field :id %>
  </p>
  <p>
    <%= l.label 'Date:' %><br />
    <%= l.date_field :date, order: [:year, :month, :day ], date_separator: "-" %>
  </p>
  <p> 
  	<%= l.submit 'Search' %>
  </p>
<% end %>

