<h1 class= page-header>Lat: <%= @prediction_data["latitude"] %>,  Lon: <%= @prediction_data["longitude"] %> </h1>

<table class="table">
	<caption>Predictions</caption>
	<tr>
		<th>Time</th>
		<th>Rain</th>
		<th>Temperature</th>
		<th>Wind Direction</th>
		<th>Wind Speed</th>
	</tr>
	

		<% @prediction_data["predictions"].reverse_each do |time_period| %>
			<tr>
				<td> In <%= time_period[0]%> minutes</td>
				<td> 
					<%= time_period[1]["rain"]["value"] + " (#{time_period[1]["rain"]["probability"]*100}%)"%>
				</td>
				<td>
					<%= time_period[1]["temp"]["value"] %>&#8451; <%= "(#{time_period[1]["temp"]["probability"]*100}%)" %>
				</td>
				<td>
					<%= time_period[1]["wind_direction"]["value"] %>&#176; <%= "(#{time_period[1]["wind_direction"]["probability"]*100}%)" %>
				</td>
				<td>
					<%= time_period[1]["wind_speed"]["value"] %>kph <%= "(#{time_period[1]["wind_speed"]["probability"]*100}%)" %>
				</td>
			</tr>
		<% end %>

	
</table>