<h1 class= page-header>Listing Data for <%= @location.name %></h1>

<p> <b>Date: <%= @date %></b></p>


<table class= table>
    <thead>
     	<tr>
       		<th> Time </th>
       		<th> Temperature </th>
        	<th> Precip </th>
        	<th> Wind Direction </th>
          	<th> Wind Speed </th>
      	</tr>
    </thead>
  
    <tbody>
      <% @readings.each do |reading| %>
        <tr>
        	<td><%= reading.created_at %></td>
        	<td><%= reading.temperature.value %></td>
        	<td><%= reading.rainfall.value %></td>
        	<td><%= reading.wind_direction.value %></td> 
          	<td><%= reading.wind_speed.value.round(2) %></td> 
        </tr>
      <% end %>
    </tbody>

</table>