<h1 class= page-header>Postcode - <%= @postcode.code %></h1>

<table class="table">
	<caption>Predictions</caption>
	<tr>
		<th>Time</th>
		<th>Rain</th>
		<th>Temperature </th>
		<th>Wind Direction</th>
		<th>Wind Speed</th>
	</tr>
	

		<% @prediction_data["predictions"].reverse_each do |time_period| %>
			<tr>
				<td> In <%= time_period[0]%> minutes</td>
				<td> 
					<% if time_period[1]["rain"]["probability"] == -Float::INFINITY  %>
						0
					<%else %>
						<%= time_period[1]["rain"]["value"] %>
					<%end%>
				</td>
				<td>
					<% if time_period[1]["temp"]["probability"] == -Float::INFINITY  %>
						0
					<%else %>
						<%= time_period[1]["temp"]["value"] %>&#8451;
					<%end%>
				</td>
				<td>
					<% if time_period[1]["wind_direction"]["probability"] == -Float::INFINITY  %>
						0
					<%else %>
						<%= time_period[1]["wind_direction"]["value"] %>&#176;
					<%end%>
				</td>
				<td>
					<% if time_period[1]["wind_speed"]["probability"] == -Float::INFINITY  %>
						0
					<%else %>
						<%= time_period[1]["wind_speed"]["value"] %>kph
					<%end%>
				</td>
			</tr>
		<% end %>

	
</table>